#labBox{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    margin: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}
#labBox div{
    display: inline-block;
}

#labForm{
    height: auto;
    width: 100%;
    padding: 20px;
}

.inputBox{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    height: 40px;
    width: 250px;
    border: none;
    border-bottom: 2px solid grey;
    font-family: Century Gothic;
}
.button{
    background-color: palevioletred;
    font-family: Century Gothic;
    border: 0;
    border-radius: 20px;
    height: 40px;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    height: 40px;
    color: white;
}
.button:hover{
    background-color: purple;
}
#labImage{
    margin-top: 0px;
    padding-top: 0px;
}
#labImage img{
    position: sticky;
    top: 0;
}